# Poss√≠veis insights a partir dos dados de consumo explorados

In [69]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.float_format', lambda x: '%0f' % x)

df_energy_insights = pd.read_csv('../datasets/processed/energy_by_region.csv')
df_energy_insights.head()

,ano,mes,tipo_consumo,numero_consumidores,consumo,sigla,estado,regiao,pais,data,dataStr
0,2004,1,Outros,40857,69617.000000,RN,Rio Grande do Norte,Nordeste,Brasil,2004-01-01,January/2004
1,2004,1,Outros,311650,937538.000000,SP,Sao Paulo,Sudeste,Brasil,2004-01-01,January/2004
2,2004,1,Outros,56881,67601.000000,MS,Mato Grosso do Sul,Centro-Oeste,Brasil,2004-01-01,January/2004
3,2004,1,Outros,226165,209380.000000,SC,Santa Catarina,Sul,Brasil,2004-01-01,January/2004
4,2004,1,Outros,70634,416128.000000,RJ,Rio de Janeiro,Sudeste,Brasil,2004-01-01,January/2004

In [70]:
df_energy_insights.describe()

               ano          mes  numero_consumidores        consumo
count 25920.000000 25920.000000         25920.000000   25920.000000
mean   2013.500000     6.500000        682303.377199  339170.896721
std       5.766393     3.452119       1839311.687366  603642.745612
min    2004.000000     1.000000            52.000000     354.000000
25%    2008.750000     3.750000         18956.500000   61545.500000
50%    2013.500000     6.500000        108174.500000  136754.500000
75%    2018.250000     9.250000        442412.000000  361651.750000
max    2023.000000    12.000000      19201264.000000 4849895.000000

In [71]:
df_energy_insights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25920 entries, 0 to 25919
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ano                  25920 non-null  int64
 1   mes                  25920 non-null  int64
 2   tipo_consumo         25920 non-null  object
 3   numero_consumidores  25920 non-null  int64
 4   consumo              25920 non-null  float64
 5   sigla                25920 non-null  object
 6   estado               25920 non-null  object
 7   regiao               25920 non-null  object
 8   pais                 25920 non-null  object
 9   data                 25920 non-null  object
 10  dataStr              25920 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 2.2+ MB

In [72]:
df_energy_insights['data'] = pd.to_datetime(df_energy_insights['data'])
df_energy_insights.head()

,ano,mes,tipo_consumo,numero_consumidores,consumo,sigla,estado,regiao,pais,data,dataStr
0,2004,1,Outros,40857,69617.000000,RN,Rio Grande do Norte,Nordeste,Brasil,2004-01-01,January/2004
1,2004,1,Outros,311650,937538.000000,SP,Sao Paulo,Sudeste,Brasil,2004-01-01,January/2004
2,2004,1,Outros,56881,67601.000000,MS,Mato Grosso do Sul,Centro-Oeste,Brasil,2004-01-01,January/2004
3,2004,1,Outros,226165,209380.000000,SC,Santa Catarina,Sul,Brasil,2004-01-01,January/2004
4,2004,1,Outros,70634,416128.000000,RJ,Rio de Janeiro,Sudeste,Brasil,2004-01-01,January/2004

1. M√©dia de consumo el√©trico para o estado de Minas Gerais para o tipo  de consumo residencial entre todos os anos:

In [73]:
mg_filter = ((df_energy_insights['sigla'] == 'MG') & (df_energy_insights['tipo_consumo'] == 'Residencial'))
average = df_energy_insights[mg_filter]['consumo'].mean()
print(f'A m√©dia mensal de consumo residencial em Minas Gerais entre os anos de 2004 e 2023 √© de {average:.2f}')

A m√©dia mensal de consumo residencial em Minas Gerais entre os anos de 2004 e 2023 √© de 824152.16

2. O estado que apresentou o maior consumo de energia el√©trica no setor Industrial no ano de 2019:

In [74]:
industrial_2019_filter = ((df_energy_insights['ano'] == 2019) & (df_energy_insights['tipo_consumo'] == 'Industrial'))
industrial_2019_data = df_energy_insights[industrial_2019_filter][['sigla', 'consumo']].groupby('sigla')['consumo'].sum().sort_values()
industrial_2019_data

sigla
RR      22761.000000
AC      37317.000000
AP     106093.000000
PI     207937.000000
TO     324424.000000
RO     455359.000000
DF     522325.000000
AL    1019567.000000
SE    1083331.000000
RN    1201375.000000
MS    1351533.000000
PB    1441192.000000
MA    1548457.000000
AM    1653878.000000
MT    2172884.000000
CE    2503873.000000
PE    3718810.000000
ES    4007124.000000
GO    5623584.000000
RJ    8008455.000000
BA    9229888.000000
RS    9766562.000000
SC   10613883.000000
PA   10792266.000000
PR   12882931.000000
MG   29769624.000000
SP   47635621.000000
Name: consumo, dtype: float64

In [2]:
plt.figure(figsize=(20,6))
plt.title('Consumo Industrial em 2019')
sns.barplot(data=industrial_2019_data.to_frame(), x='sigla', y='consumo', hue='sigla')

NameError: name 'plt' is not defined

Com base na interpreta√ß√£o do grafico gerado √© poss√≠vel concluir que o estado que apresentou o maior consumo de energia el√©trica no setor Industrial no ano de 2019 √© S√£o Paulo